html, body {
    height: 100%;
}

#page-wrapper {
    min-height: calc(100% - 20px);
    margin-bottom: -60px;
}

#page-wrapper:after {
    content: "";
    display: block;
}

#page-footer, #page-wrapper:after {
    height: 60px;
}

#page-footer {
    background-color: #f5f5f5;
}

.center {
    text-align: center;
}

/* Tree stuff */
ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

/* Code Stuff */

pre {
    font: 12px/1.4 Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin: 0;
    padding: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    border: none;
}

table.coverage {
    border-collapse: collapse;
    margin: 10px 0 0 0;
    padding: 0;
}

table.coverage td {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

table.coverage td.line-count {
    text-align: right;
    padding: 0 5px 0 20px;
    display: block;
}

table.coverage td.line-count a {
    display: block;
}

table.coverage td.line-coverage {
    text-align: right;
    padding-right: 10px;
    min-width: 20px;
}

table.coverage td span.cline-any {
    display: inline-block;
    padding: 0 5px;
    /*width: 100%;*/
}